/*
 * MODULE: columns ==> styles for desktop
 */
.columns {
  overflow:hidden;
  border:solid 1px #000;
  @include boxSizing;
  width:960px;
  margin:0 auto 20px;
  .column {
    display:inline-block;
    float:left;
    border-right:solid 1px #666;  
    @include boxSizing;
    padding:20px;
    text-align:center;
  }
  > .column:last-child {
    border-right:none;    
  }
}
.col-two .column {
    width:50%;
}
.col-three .column {
  width:33.33333%;
}
.col-four .column {
  width:25%;
}
@mixin columnsTablet(){
  /*
   * MODULE: columns ==> styles for tablet
   */
  .columns {
    width:90%;
  }
  .col-four {
    .column {
      width:50%;
    }
    .column:nth-child(1),
    .column:nth-child(2) {
      border-bottom:solid 1px #666;  
    }
  }	
}
@mixin columnsMobile(){
  /*
   * MODULE: columns ==> styles for mobile
   */
  .columns {
    overflow:hidden;
    .column {
      float:none;
    }
  }
  .col-two .column,
  .col-three .column,
  .col-four .column {
    width:100%;
    border-bottom:solid 1px #666;
  }
  .col-two > .column:last-child,
  .col-three > .column:last-child,
  .col-four > .column:last-child {
    border-bottom:none;
  }
}
